{% if queryPost is defined and queryPost is not null %}

	{# Card get post result form QueryPosts Component #}

	<div class="card{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">

		<div class="card__body">

			<h3 class="card__title h3">{{ queryPost.post_title }}</h3>

		</div>

	</div>

{% elseif queryTerm is defined and queryTerm is not null %}

	{# Card get term result form QueryTerms Component #}

	{% set termImageID = fn( 'get_field', 'term_image', queryTerm.taxonomy ~ '_' ~ queryTerm.term_id, false ) %}

	<div class="card{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">

		<div class="card__body">

			{% if termImageID is not null %}

				{% set image = Image( termImageID ) %}

				<figure class="card__figure">
					<img 
						class="card__image img-fluid lazyload"
						src="{{ image.src|resizeDynamic(475, 320) }}"
						srcset="{{ placeholderImage(475, 320) }}"
						data-srcset="{{ image.src|resizeDynamic(475, 320) }} 475w"
						data-sizes="auto"
						alt="{{ image.alt|e }}">
				</figure>
			
			{% endif %}

			<h3 class="card__title h3">{{ queryTerm.name }}</h3>

		</div>

	</div>

{% else %}

	{# Card as standard component #}

	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="card">

		{% if options.container %}
		<div class="container"> 
		{% endif %}

			{% if options.row %}
			<div class="row"> 
			{% endif %}

				{% if options.colsClasses|length %}
				<div class="{{ options.colsClasses }}"> 
				{% endif %}

					<div class="card{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">
						<h3 class="card__title h3">{{ title }}</h3>
					</div>

				{% if options.colsClasses|length %}
				</div><!-- cols classes --> 
				{% endif %}

			{% if options.row %}
			</div><!-- .row --> 
			{% endif %}

		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}
	</div>

{% endif %}


