{% if queryPost is defined and queryPost|length %}

	{# Card get post result form QueryPosts Component #}

	<div class="card card--{{ isOddEven }} section{{ queryPost.options.itemClasses|length ? ' ' ~ queryPost.options.itemClasses }}">

		{% if queryPost.meta('hero_image') is defined and queryPost.meta('hero_image') is not null %}

			{% set largeImage = queryPost.meta('hero_image') %}

		{% endif %}

		{% if queryPost.meta('catalog_image') is defined and queryPost.meta('catalog_image') is not null %}

			{% set smallImage = queryPost.meta('catalog_image') %}

		{% endif %}

		{% include 'Partials/_body.twig' with { 
			'link' : queryPost.link, 
			'largeImage': (largeImage is defined) ? largeImage,
			'smallImage': (smallImage is defined) ? smallImage,
			'title': queryPost.title,
			'year': queryPost.meta('year') ? queryPost.meta('year') : queryPost.post_date|date('Y'),
			'excerpt': queryPost.post_excerpt,
			'isOddEven' : isOddEven,
		} only %}

	</div>

{% else %}

	{# Card as standard component #}

	{% if section is not defined or section|length %}
	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="card">
	{% endif %}

		{% if options.container %}
		<div class="container-lg"> 
		{% endif %}

			{% if options.row %}
			<div class="row"> 
			{% endif %}

				{% if options.colsClasses|length %}
				<div class="{{ options.colsClasses }}"> 
				{% endif %}

					<div class="card{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">

						<div class="card__body">

							{% if image is defined and image is not null %}
						
								<figure class="card__figure">

									{% if link is defined and link is not null %}
										<a class="card__link" href="{{ link.url }}"></a>
									{% endif %}

									<img 
										class="card__image img-fluid of-cover lazyload same-height--byrow"
										src="{{ image.src|resize(850, 543) }}"
										alt="{{ image.alt|e }}">
								</figure>

							{% endif %}

							<h2 class="card__title h2">{{ title }}</h3>

						</div>

					</div>

				{% if options.colsClasses|length %}
				</div><!-- cols classes --> 
				{% endif %}

			{% if options.row %}
			</div><!-- .row --> 
			{% endif %}

		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}

	{% if section is not defined or section|length %}
	</div>
	{% endif %}

{% endif %}


