<div
    {{ options.sectionId|length ? 'id=' ~ options.sectionId }}
    class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
    is="form">

    {% if options.container %}
    <div class="container-lg"> 
    {% endif %}        

            {% if options.colsClasses|length %}
            <div class="{{ options.colsClasses }}"> 
            {% endif %}

                <div class="form{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">

					{% if options.row %}
					<div class="row"> 
					{% endif %}
                    
						<div class="col-text{{ options.colsClasses1|length ? ' ' ~ options.colsClasses1 }}">
							{% if subCompTitle is defined and subCompTitle.titleHtml is not empty %}
								{% set subCompTitle = subCompTitle|merge({section: false}) %}
								{{ renderComponent( 'Title', subCompTitle ) }}
							{% endif %}
							{% if subCompDescription is defined and subCompDescription.descriptionHtml is not empty %}
								{% set subCompDescription = subCompDescription|merge({section: false}) %}
								{{ renderComponent( 'Description', subCompDescription ) }}
							{% endif %}
							{% if subCompButton is defined and subCompButton.link is not empty %}
								{% set subCompButton = subCompButton|merge({section: false}) %}
								{{ renderComponent( 'Button', subCompButton ) }}
							{% endif %}
						</div>

						<div class="col-form{{ options.colsClasses2|length ? ' ' ~ options.colsClasses2 }}">
							<form id="{{ uniqueID }}" action="{{ ajaxurl }}">
								<div class="row">
									{% for field in form.meta('campiForm') %}
										{% if field.acf_fc_layout == 'data' %}
											
											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
													<input class="form-field" type="text" id="{{ field.name }}-{{ uniqueID }}" name="{{ field.name }}-{{ uniqueID }}" aria-label="{{ field.placeholder }}" placeholder="{{ field.placeholder }}">														
													<span class="tui-ico-date"></span>														
												</div>
												{% if field.required %}
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
												<div id="wrapper" style="margin-top: -1px;"></div>	
											</div>	

										{% elseif field.acf_fc_layout == 'ora' %}								

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<div id="timepicker-selectbox"></div>
											</div>

										{% elseif field.acf_fc_layout == 'text' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<input class="form-field" type="text" name="{{ field.name }}-{{ uniqueID }}" id="{{ field.name }}-{{ uniqueID }}" placeholder="{{ field.placeholder }}">
												{% if field.required %}
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
											</div>

										{% elseif field.acf_fc_layout == 'email' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<input class="form-field" type="email" name="{{ field.name }}-{{ uniqueID }}" id="{{ field.name }}-{{ uniqueID }}" placeholder="{{ field.placeholder }}">
												{% if field.required %}
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
											</div>

										{% elseif field.acf_fc_layout == 'textarea' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<textarea class="form-field" name="{{ field.name }}-{{ uniqueID }}" id="{{ field.name }}-{{ uniqueID }}" placeholder="{{ field.placeholder }}"></textarea>
												{% if field.required %}
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
											</div>
										
										{% elseif field.acf_fc_layout == 'file' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<div class="fakeInput" data-field="{{ field.name }}-{{ uniqueID }}">
													{% if field.placeholder %}
														<div class="fakeInput-label">
															{{field.placeholder}}
														</div>
													{% endif %}
													{% if field.icon %}
														<img src="{{field.icon.src}}">
													{% endif %}
												</div>
												<input type="file" name="{{ field.name }}-{{ uniqueID }}" id="{{ field.name }}-{{ uniqueID }}" placeholder="{{ field.placeholder }}" size="25" accept="application/pdf" />
												{% if field.required %}
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
											</div>

										{% elseif field.acf_fc_layout == 'checkbox' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} {{ field.name }}">
												<input type="checkbox" name="{{ field.name }}-{{ uniqueID }}" id="{{ field.name }}-{{ uniqueID }}" value="{{ field.text|striptags }}">	
												<label for="{{ field.name }}-{{ uniqueID }}">
													{{ field.text }}
												</label>
												{% if field.required %}	
												<input type="hidden" name="_{{ field.name }}-{{ uniqueID }}" value="1" >
												<div class="tooltip-error" data-target="{{ field.name }}-{{ uniqueID }}">
													Questo campo è obbligatorio
												</div>
												{% endif %}
											</div>

										{% elseif field.acf_fc_layout == 'button' %}

											<div class="{% if field.width|length %}{{ field.width }}{% else %}col-lg-12{% endif %} buttonSend">
												<button type="submit" class="button" data-id-form="{{ uniqueID }}">{% if field.text|length %}{{ field.text }}{% else %}Invia{% endif %}</button>
											</div>

										{% endif %}								
									{% endfor %}	
								</div>
								<input type="hidden" name="_fc_token" value="{{ _fc_token }}" >
								<input type='hidden' name='_fc_page_from' value="{{ page_from }}" >
								<input type='hidden' name='_fc_page_from_url' value="{{ page_url }}" >
								<input type='hidden' name='_form_id' value="{{ uniqueID }}" >
								<input type='hidden' name='_post_id' value="{{ form.id }}" >
							</form>
						</div>
					{% if options.row %}
					</div><!-- .row --> 
					{% endif %}

                </div>

            {% if options.colsClasses|length %}
            </div><!-- cols classes --> 
            {% endif %}

        

    {% if options.container %}
    </div><!-- .container --> 
    {% endif %}
</div>