{% if queryPosts is defined and queryPosts|length %}

	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses : ' section' }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="query-posts">

		{% if options.container %}
		<div class="container-lg"> 
		{% endif %}

			{% if options.row %}
			<div class="row"> 
			{% endif %}

				{% if options.colsClasses|length %}
				<div class="{{ options.colsClasses }}"> 
				{% endif %}

					{% if compSelect is defined and compSelect is not null %}

						<div class="{{ compSelect|lower ~ 's' }} {{ options.itemClasses|length ? options.itemClasses }}">

							{% set taxSelect = taxSelect ?? false %}
							{% set terms = terms ?? false %}

							{% for key, queryPost in queryPosts %}

								{% set isOddEven = loop.index is odd ? 'odd' : 'even' %}
							
								{{ renderComponent( compSelect, { queryPost : queryPost, isOddEven : isOddEven, taxSelect : taxSelect, terms : terms } ) }}

							{% endfor %}

						</div>

					{% endif %}

				{% if options.colsClasses|length %}
				</div><!-- cols classes --> 
				{% endif %}

			{% if options.row %}
			</div><!-- .row --> 
			{% endif %}

			{% if hasPagination %}

				{% if queryPosts.pagination.next %}

					{% set loadMoreLabel = is_home is defined and is_home is not null ? __( 'Load more news', 'uideveloper' ) : __( 'Load more', 'uideveloper' ) %}
				
					<div class="pagination text-center mt-10">
						<a id="loadMore" class="button load-more" href="{{ queryPosts.pagination.next.link }}">{{ loadMoreLabel }}</a>
					</div>

				{% endif %}

			{% endif %}
			
		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}

	</div>

{% else %}

	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="query-posts"
		data-results="false">

		{% if options.container %}
		<div class="container-lg"> 
		{% endif %}

			<div class="alert alert-primary text-center" role="alert">
				<span>{{ fn( 'esc_html_e', 'No items found', 'uideveloper' ) }}</span>
			</div>

		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}

	</div>

{% endif %}