<div class="archive-filter">

	<div class="archive-filter__terms">

		<div class="select">

			<div class="select__title">
				{{ __( 'Categories', 'uideveloper' ) }} <i class="gg-chevron-down"></i>
			</div>

			<div class="select__list">
				{% for term in terms %}
					<a href="{{ term.link }}" class="select__option">{{ term.title }}</a>
				{% endfor %}
			</div>

		</div>

	</div>

	<div class="archive-filter__date">

		<div class="select">

			<div class="select__title">
				{{ _e( 'Archive', 'uideveloper' ) }} <i class="gg-chevron-down"></i>
			</div>

			<div class="select__list">
				{% for item in archive %}
					<a href="{{ item.value }}" class="select__option">{{ item.name }}</a>
				{% endfor %}
			</div>

		</div>

	</div>
	
</div>
