{% set theme = fn('is_front_page') ? 'light' : 'dark' %}

<nav is="menu-navigation">

    <div class="menu-navigation menu-navigation--{{ theme }} {{ post.styleMenu ? 'menu-navigation--' ~ post.styleMenu }}">
    
		<div class="container-fluid">
        
			<div class="row">

                {% for el in composerMenu %}

					<div class="col{{ el.width|length ? ' ' ~ el.width }}">						

						{% if el.acf_fc_layout == 'logo' %}

							<a href="{{ site.url }}">
								
								<img src="{{ logo.src }}" alt="{{ logo.alt }}" class="nav-logo nav-logo--dark">

								{% if logoSticky|length %}

									<img src="{{ logoSticky.src }}" alt="{{ logoSticky.alt }}" class="nav-logo nav-logo--light">
								
								{% endif %}						

							</a>

						{% elseif el.acf_fc_layout == 'hamburger' %}
						
							<div class="nav-hamburger" data-toggle-menu>
								<span></span>
								<span></span>
								<span></span>
							</div>
													
						{% elseif el.acf_fc_layout == 'switchWPML' %}
						
							{% if langs and langs|length > 1 %}

								<div class="nav-wpml">
							
									<ul class="nav-wpml__list">					

										{% for lang in langs %}

											<li class="nav-wpml__item {{ lang.active ? 'nav-wpml__item--active' }}">
												<a class="nav-wpml__link" href="#">{{ lang.native_name|slice(0, 3)|lower }}</a>
											</li>

										{% endfor %}

									</ul>

									{# <div class="nav-wpml__dropdown"> #}

										{# {% for lang in langs %}
									
											{% if not lang.active %}
												<span><a href="{{ lang.url }}">{{ lang.code }}</a></span>
											{% endif %}

										{% endfor %} #}

									{# </div> #}

								</div>

							{% endif %}

						{% elseif el.acf_fc_layout == 'text' %}
							
							<div class="nav-text {{ el.width|length ? el.width }}">

								<div class="nav-text__content">
									{{ el.text }}
								</div>
							
							</div>
						
						{% elseif el.acf_fc_layout == 'search' %}
						
							<a href="#popup-search" id="search-toggle" role="button" aria-label="{{ fn( 'esc_html_e', 'Search toggle', 'uideveloper' ) }}" class="search-toggle"><i class="gg-search"></i></a>

						{% elseif el.acf_fc_layout == 'menuDesktop' %}
							
							<div class="nav-menuDesktop {{ el.width|length ? el.width }}">

								<div class="nav-menuDesktop__content">

									<ul>
									
										{% for item in menu.items %}
											
											<li class="menu-item {{ item.current ? 'menu-item--current' }} {{ item.children|length ? 'menu-item--hasChildren' }}">

												<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>{{ item.title }}</a>

												{{ item.children|length ? '<div class="dropdown"></div>' }}
												
												{% if item.children|length %}
												
													<div class="sub-menu">

														<div class="sub-menu__title">
															{{ item.title }}
														</div>

														<ul>
															{% for item in item.children %}

																<li class="menu-item {{ item.current ? 'menu-item--current' }}">
																	<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>{{ item.title }}</a>
																</li>

															{% endfor %}
														</ul>
														
														{% if item.image %}
															<div class="sub-menu-image" style="background-image: url({{Image(item.image).src|resize(600)}})"></div>
														{% endif %}

													</div>

												{% endif %}
											
											</li>
										
										{% endfor %}
									
									</ul>
								
								</div>
							
							</div>
							
						{% endif %}

					</div>

				{% endfor %}
                            
			</div>
        
		</div>
        
		<div class="content-hamburger">
        
			<div class="close">
                <span class="line"></span>
                <span class="line"></span>
            </div>
            
			<div class="content-hamburger__menu">
                <ul>
                    {% for item in menu.items %}

						<li class="menu-item {{ item.current ? 'menu-item--current' }} {{ item.children|length ? 'menu-item--hasChildren' }}">
					
							<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>{{ item.title }}</a>
							
							{{ item.children|length ? '<div class="dropdown"></div>' }}
							
							{% if item.children|length %}

								<ul class="sub-menu">
							
									{% for item in item.children %}

										<li class="menu-item {{ item.current ? 'menu-item--current' }}">
											<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>{{ item.title }}</a>
										</li>

									{% endfor %}

								</ul>

							{% endif %}
						
						</li>
						
                    {% endfor %}
                </ul>

                {% if bottomInfo|length %}

					<div class="hamburger__menu-bottom">{{bottomInfo}}</div>

                {% endif %}

            </div>

        </div>

	</div>

</nav>

{{ theme == 'dark' ? '<div class="spaceMenu"></div>' }}
