<nav is="menu-navigation">
    
	<div class="menu-navigation {% if post.styleMenu %}menu-navigation--{{post.styleMenu}}{% endif %}">
    
	    <div class="container-fluid">
    
	        <div class="row align-items-end">
    
				{% for el in composerMenu %}
		
					{% if el.acf_fc_layout == 'logo' %}

						{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}

							<div class="logo">

								<a class="logo__link" href="{{ site.url }}">
									<span class="logo__name">{{ site.name }}</span>
								</a>

							</div>

						{{ el.width|length ? '</div>' }}

					{% elseif el.acf_fc_layout == 'hamburger' %}

						{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}

							<a class="hamburger" href="#" data-toggle-menu>{{ 'Menu'|e }}</a>
							
						{{ el.width|length ? '</div>' }}
					
					{% elseif el.acf_fc_layout == 'switchWPML' %}
					
						{% if langs and langs|length > 1 %}

							{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}

								<div class="switch-wpml">

									{% for lang in langs %}

										{% if lang.active %}
											<a class="switch-wpml__active">{{ lang.native_name }}</a>
										{% endif %}
									
									{% endfor %}

									<div class="switch-wpml__dropdown">

										{% for lang in langs %}

											{% if not lang.active %}
												<span><a href="{{ lang.url }}">{{ lang.native_name }}</a></span>
											{% endif %}

										{% endfor %}

									</div>

								</div>

							{{ el.width|length ? '</div>' }}

						{% endif %}
					
					{% elseif el.acf_fc_layout == 'text' %}
					
						{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}

							<div class="nav-text">
								{{ el.text }}
							</div>
						
						{{ el.width|length ? '</div>' }}

					{% elseif el.acf_fc_layout == 'search' %}

						{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}
					
							<a href="#popup-search" id="search-toggle" role="button" class="search-toggle">{{ fn( 'esc_html_e', 'Search', 'uideveloper' ) }}</a>

						{{ el.width|length ? '</div>' }}

					{% elseif el.acf_fc_layout == 'menuDesktop' %}
					
						{{ el.width|length ? '<div class="' ~ el.width ~ '">' }}

							<div class="menu-desktop">
						
								<ul>
						
									{% for item in menu.items %}
						
										<li class="menu-item {{ item.current ? 'menu-item--current' }} {{ item.children|length ? 'menu-item--hasChildren' }}">
							
											<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>{{ item.title }}</a>

											{% if item.children|length %}<div class="dropdown"></div>{% endif %}
											
											{% if item.children|length %}

												<div class="sub-menu">

													<div class="sub-menu__title">{{ item.title }}</div>
													
													<ul>

														{% for item in item.children %}
															
															<li class="menu-item {{ item.current ? 'menu-item--current' }}">
																<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>
																{{ item.title }}
																</a>
															</li>

														{% endfor %}
													
													</ul>
													
													{% if item.image %}
														<div class="sub-menu-image" style="background-image: url( {{ Image(item.image).src|resize(600) }} )"></div>
													{% endif %}

												</div>

											{% endif %}
										
										</li>
									
									{% endfor %}
								
								</ul>
							
							</div>
						
						{{ el.width|length ? '</div>' }}

					{% endif %}
						
				{% endfor %}

			</div>

		</div>

	</div>

	<div class="content-hamburger">

		<div class="popup-close">
			<i class="gg-close"></i>
		</div>

		<div class="content-hamburger__menu">

			<div class="container-lg">

				<ul>

					{% for item in menu.items %}
					
						<li class="row menu-item {{ item.current ? 'menu-item--current' }} {{ item.children|length ? 'menu-item--hasChildren' }}">

							<div class="col-lg-6">

								<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}>
									<h2 class="menu-link__title">{{ item.title }}</h2>
								</a>

								{% if item.children|length %}<button class="dropdown-toggle" aria-label="{{ 'dropdown open'|e('esc_html') }}"></button>{% endif %}

							</div>

							{% if item.children|length %}

								<div class="col-lg-6 position-relative">

									<ul class="sub-menu">

										{% for item in item.children %}

											<li class="menu-item {{ item.current ? 'menu-item--current' }}">
												<a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noreferrer noopener"' }}><h3 class="menu-link__subtitle">{{ item.title }}</h3></a>
											</li>
									
										{% endfor %}
									
									</ul>

								</div>

							{% endif %}
						
						</li>

					{% endfor %}
				
				</ul>

				{% for el in composerMenu %}

					{% if el.acf_fc_layout == 'switchWPML' %}
					
						{% if langs and langs|length > 1 %}

							<div class="d-block d-md-none">

								<ul class="sm-nav-wpml">

									{% for lang in langs %}

										<li class="sm-nav-wpml__item {{ lang.active ? 'sm-nav-wpml__item--active' }}">
											<a class="sm-nav-wpml__link" href="#">{{ lang.native_name|slice(0, 3)|lower }}</a>
										</li>

									{% endfor %}

								</ul>

							</div>

						{% endif %}

					{% endif %}

				{% endfor %}

			</div>

			{% if bottomInfo|length %}
			
				<div class="hamburger__menu-bottom">{{bottomInfo}}</div>
			
			{% endif %}
		
		</div>
	
	</div>

</nav>

{# <div class="spaceMenu"></div> #}