<div
	{{ groupOptions.sectionId|length ? 'id=' ~ groupOptions.sectionId }}
    class="fcComponent position-relative {{ groupOptions.sectionClasses ? ' ' ~ groupOptions.sectionClasses }}{{ groupOptions.theme|length ? ' ' ~ groupOptions.theme }}"
	is="sidebyside">

	<div class="group-inner">

		{% if groupOptions.container %}
		<div class="container-lg"> 
		{% endif %}

			{% if groupOptions.row %}
			<div class="row"> 
			{% endif %}

				{% if groupOptions.colsClasses|length %}
				<div class="{{ groupOptions.colsClasses }}"> 
				{% endif %}

					<div class="sidebyside{{ groupOptions.itemClasses|length ? ' ' ~ groupOptions.itemClasses }}">

						{% if subCompImage is defined and subCompImage is not null %}
							{% set subCompImage = subCompImage|merge({resize: false, section: false}) %}

							{{ renderComponent( 'Image', subCompImage ) }}
						{% endif %}

						{% if subCompInfo is defined and subCompInfo is not null %}
							{% set subCompInfo = subCompInfo|merge({section: false}) %}							

							{{ renderComponent( 'Info', subCompInfo ) }}
						{% endif %}

					</div>

				{% if groupOptions.colsClasses|length %}
				</div><!-- cols classes --> 
				{% endif %}

				{% if groupOptions.inlineButton and subCompButton is defined and subCompButton is not null %}

					<a href="{{ subCompButton.link.url|e('wp_kses_post') }}" class="button">{{ subCompButton.link.title|e('wp_kses_post') }}</a>

				{% endif %}

			{% if groupOptions.row %}
			</div><!-- .row --> 
			{% endif %}

		{% if groupOptions.container %}
		</div><!-- .container --> 
		{% endif %}

	</div>

</div>