<div class="fcComponent {{options.theme}}" is="columns-footer">

	<div class="columns-footer">

		<div class="container-lg">

			<div class="row">
	
				{#% if htmlDescription_col1 %#}
	
					<div class="{{ options.classes_col1 ? options.classes_col1 : 'col-md-3' }} columns-footer__col">
	
						<div class="footer-col">
	
							<div class="nav-logo">
								<a href="{{ site.url }}">
								  <img src="{{ logo.src }}" alt="{{ logo.alt }}">
								</a>
							</div>
	
							{% if htmlDescription_col1 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col1|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{#% endif %#}
	
	
				{% if htmlDescription_col2 %}
	
					<div class="{{ options.classes_col2 ? options.classes_col2 : 'col-md-3' }} columns-footer__col">
	
						<div class="footer-col">
	
							{% if htmlTitle_col2 %}
	
								<div class="footer-col__title">{{ htmlTitle_col2|e('wp_kses_post') }}</div>
	
							{% endif %}
	
							{% if htmlDescription_col2 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col2|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
	
				{% if htmlDescription_col3 %}
	
					<div class="{{ options.classes_col3 ? options.classes_col3 : 'col-md-3' }} columns-footer__col">
	
						<div class="footer-col">
	
							{% if htmlTitle_col3 %}
	
								<div class="footer-col__title">{{ htmlTitle_col3|e('wp_kses_post') }}</div>
	
							{% endif %}
	
							{% if htmlDescription_col3 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col3|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
	
	
				{% if htmlDescription_col4 %}
	
					<div class="{{ options.classes_col4 ? options.classes_col4 : 'col-md-3' }} columns-footer__col">
	
						<div class="footer-col">
	
							{% if htmlTitle_col4 %}
	
								<div class="footer-col__title">{{ htmlTitle_col4|e('wp_kses_post') }}</div>
	
							{% endif %}
	
							{% if htmlDescription_col4 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col4|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
			</div>
	
		</div>

	</div>

	{% if htmlDescription_subcol1 or htmlDescription_subcol2 or htmlDescription_subcol3 or htmlDescription_subcol4 %}
		<div class="columns-footer-sub">
			<div class="container-lg">
				<div class="row">
					{% if htmlDescription_subcol1 %}
		
						<div class="{{ options.classes_col1 ? options.classes_subcol1 : 'col-md-3' }} columns-footer__col">
			
							<div class="footer-col">

								{% if htmlDescription_subcol1 %}

									<div class="footer-col__description">

										{{ htmlDescription_subcol1|e('wp_kses_post') }}

									</div>

								{% endif %}

							</div>

						</div>

					{% endif %}


					{% if htmlDescription_subcol2 %}

						<div class="{{ options.classes_subcol2 ? options.classes_subcol2 : 'col-md-3' }} columns-footer__col">

							<div class="footer-col">

								{% if htmlDescription_subcol2 %}

									<div class="footer-col__description">

										{{ htmlDescription_subcol2|e('wp_kses_post') }}

									</div>

								{% endif %}

							</div>

						</div>

					{% endif %}


					{% if htmlDescription_subcol3 %}

						<div class="{{ options.classes_subcol3 ? options.classes_subcol3 : 'col-md-3' }} columns-footer__col">

							<div class="footer-col">

								{% if htmlDescription_subcol3 %}

									<div class="footer-col__description">

										{{ htmlDescription_subcol3|e('wp_kses_post') }}

									</div>

								{% endif %}

							</div>

						</div>

					{% endif %}



					{% if htmlDescription_subcol4 %}

						<div class="{{ options.classes_subcol4 ? options.classes_subcol4 : 'col-md-3' }} columns-footer__col">

							<div class="footer-col">

								{% if htmlDescription_subcol4 %}

									<div class="footer-col__description">

										{{ htmlDescription_subcol4|e('wp_kses_post') }}

									</div>

								{% endif %}

							</div>

						</div>

					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}

</div>
