<div
	{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
    class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
	is="columns-footer">

	{% if options.container %}
	<div class="container-lg"> 
	{% endif %}

		<div class="columns-footer section-taller {{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">

			<div class="section-taller-py">
				<span class="columns-footer__title"><a class="column-footer__mailto" href="mailto:{{ fn( 'antispambot', 'hello@uideveloper.rizzardini.it' ) }}" rel="nofollow">{{ 'Contatto'|e('esc_html') }}</a></span>
			</div>

			{% if options.row %}
			<div class="row"> 
			{% endif %}

				{% if htmlDescription_col1 %}
	
					<div class="{{ options.classes_col1 ? options.classes_col1 : 'col-md-3' }}">
	
						<div class="footer-col">

							{% if htmlTitle_col1 %}
	
								<h6 class="footer-col__title">{{ htmlTitle_col1|e('wp_kses_post') }}</h6>
	
							{% endif %}
	
							{% if htmlDescription_col1 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col1|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
				{% if htmlDescription_col2 %}
	
					<div class="{{ options.classes_col2 ? options.classes_col2 : 'col-md-3' }}">
	
						<div class="footer-col">
	
							{% if htmlTitle_col2 %}
	
								<h6 class="footer-col__title">{{ htmlTitle_col2|e('wp_kses_post') }}</h6>
	
							{% endif %}
	
							{% if htmlDescription_col2 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col2|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
				{% if htmlDescription_col3 %}
	
					<div class="{{ options.classes_col3 ? options.classes_col3 : 'col-md-3' }}">
	
						<div class="footer-col footer-col--last">
	
							{% if htmlTitle_col3 %}
	
								<h6 class="footer-col__title">{{ htmlTitle_col3|e('wp_kses_post') }}</h6>
	
							{% endif %}
	
							{% if htmlDescription_col3 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col3|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %}
	
				{# {% if htmlDescription_col4 %}
	
					<div class="{{ options.classes_col4 ? options.classes_col4 : 'col-md-3' }}">
	
						<div class="footer-col">
	
							{% if htmlTitle_col4 %}
	
								<h6 class="footer-col__title">{{ htmlTitle_col4|e('wp_kses_post') }}</h6>
	
							{% endif %}
	
							{% if htmlDescription_col4 %}
	
								<div class="footer-col__description">
	
									{{ htmlDescription_col4|e('wp_kses_post') }}
	
								</div>
	
							{% endif %}
	
						</div>
	
					</div>
	
				{% endif %} #}

			{% if options.row %}
			</div><!-- .row --> 
			{% endif %}

		</div>

		<div class="pb-10">
			<span class="text-uppercase text-white">© {{ site.name }} {{ "now"|date("Y") }}</span>
		</div>

	{% if options.container %}
	</div><!-- .container --> 
	{% endif %}

</div>
