<div
	{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
    class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
	is="title">

	{% if options.container %}
	<div class="container"> 
	{% endif %}

		{% if options.row %}
		<div class="row"> 
		{% endif %}

			{% if options.colsClasses|length %}
			<div class="{{ options.colsClasses }}"> 
			{% endif %}

				{% set titleTagOpen  = (titleType) ? titleType : '<h2>' %}
				{% set titleTagClose = (titleType) ? titleType : '</h2>' %}
		
				<{{ titleTagOpen }} class="title {{ titleAlignment }} {{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">
					{{ titleHtml|trim|e('wp_kses_post') }}
				</{{ titleTagClose }}>

			{% if options.colsClasses|length %}
			</div><!-- cols classes --> 
			{% endif %}

		{% if options.row %}
		</div><!-- .row --> 
		{% endif %}

	{% if options.container %}
	</div><!-- .container --> 
	{% endif %}

</div>