<div class="fcComponent" {{ options.section_id|length ? 'id=' ~ options.section_id }} is="hero-slider">

	{% if slider %}
	
    	<div class="{{ options.blockClasses|length ? ' ' ~ options.blockClasses }}">

			<div class="slider" data-slide="slide" data-autoplay="{{ options.autoplay }}" data-autospeed="{{ options.autoplaySpeed }}">

				{% for slide in slider %}
				
					<div class="slide">

						<div class="slide__image">
							<img src="{{slide.image.src}}">
						</div>

						<div class="slide__content{{ options.theme|length ? ' slide__content--' ~ options.theme }}">

							<div class="container-lg">

								<div class="row">

									<div class="col-md-12">

										{% include 'Partials/_slideHeader.twig' with { 'slide': slide } %}

										{% if slide.cta %}
											<a class="slide__cta" href="{{slide.cta.url}}"{% if slide.cta.target %} target="{{slide.cta.target}}"{% endif %}>{{slide.cta.title}}</a>
										{% endif %}

										{# {% if slide.isVideo %}

											<div class="slide__play">

												<a data-fancybox href="{{slide.linkVideo}}" data-disable-link>
													<img src="{{theme.link}}/dist/assets/images/play-video-slide.svg"> {{label.guardaVideo}}
												</a>
												
											</div>

										{% endif %} #}

									</div>

								</div>

							</div>
							
						</div>
						
					</div>

				{% endfor %}

			</div>

		</div>

	{% endif %}

</div>
