
<section
	{{ options.section_id|length ? 'id=' ~ options.section_id }}
    class="fcComponent{{ options.theme ? ' ' ~ options.theme }}"
	is="single-block">
	
    <div
        class="single-block{{ options.blockClasses|length ? ' ' ~ options.blockClasses }}{{ options.bgColor|length ? ' single-block--bgColor' }}"
        {% if options.bgColor|length %}
        style="background-color: {{ options.bgColor }}"
        {% endif %}>

        {% if options.bgImage %}

            <div
                class="single-block__bg"
				style="background: url( {{ options.bgImage.src }} ) center center / cover no-repeat">
			</div>

        {% endif %}

		<div 
			class="container-lg
			{# I got an image streched ? set an absolute container-lg with vertical align #}
			{%  if 
				( blockType1 == 'image' and imageStreched1 == true ) 
				or 
				( blockType2 == 'image' and imageStreched2 == true ) 
			%}
			abs-lg-valign same-height
			{% endif %}">

            <div class="row">

                <!-- // ANCHOR first block -->
                <div class="{{options.colsClasses1}} {{ blockType1 }}">

                    {% if blockType1 == 'text' %}

						<div class="single-block__body">

							{% if titleHtml1|length %}

								<div class="single-block__title {{ titleAlignment1 }}">

									{{ (headingType1) ? '<' ~ headingType1 ~ '>' : '<h2>' }}
									{{ titleHtml1|e('wp_kses_post') }}
									{{ (headingType1) ? '</' ~ headingType1 ~ '>' : '</h2>' }}

								</div>

							{% endif %}

							{% if descriptionHtml1|length %}

								<div class="single-block__description">
									{{ descriptionHtml1|e('wp_kses_post') }}
								</div>

							{% endif %}

							{% if ctaUrl1|length %}

								<a class="single-block__link cta" href="{{ ctaUrl1|e('esc_url') }}">
									{% if ctaLabel1 %}
										{{ ctaLabel1 }}
									{% else %}
										{{ _e( 'discover', 'benetton' ) }}	
									{% endif %}
								</a>
	
							{% endif %}
							
						</div>

                    {% endif %}

                    {% if blockType1 == 'image' and imageStreched1 == false %}

                        {% if blockImage1 %}

                            {% set image = blockImage1 %}

                            <figure class="single-block__figure">

								{% if ctaUrl1|length %}

									<a class="single-block__link-cover" href="{{ ctaUrl1|e('esc_url') }}"></a>

								{% endif %}

								{% set imageFit = imageFit1 ? 'cover' %}

                                {% include 'Partials/_image.twig' with { 'image': image, 'imageFit': imageFit } %}

                            </figure>

                        {% endif %}

                    {% endif %}

                </div>

            </div>

        </div>
		 
		{# Streched images  #}
		{% if blockType1 == 'image' and imageStreched1 == true %}

			{% if blockImage1 %}

				{% set image = blockImage1 %}

				<figure 
					
					class="single-block__figure strech-lg-left same-height
					{% if blockType2 == 'image' and imageStreched2 == true %}float-right left-lg-auto{% endif %}">

					{% if ctaUrl1|length %}

						<a class="single-block__link-cover" href="{{ ctaUrl1|e('esc_url') }}"></a>

					{% endif %}

					{% set imageFit = imageFit1 ? 'cover' %}

					{% include 'Partials/_image.twig' with { 'image': image, 'imageFit': imageFit } only %}

				</figure>

			{% endif %}

		{% endif %}

    </div>

</section>