<div class="filtro-blog filtro-blog--{{filters_theme}}">

	{% if filters_theme == 'onlyCat' and terms %}
	
	<div class="filtro-blog__categorie">
		<div class="filtro-blog__categorie-title">
			{{ label.filtra }}
		</div>
		<ul class="d-none d-md-block">
			{% for term in terms %}
				<li{% if term.isActive %} class="active"{% endif %}><a href="{{ term.link }}" class="item">{{ term.title }}</a></li>					
			{% endfor %}
		</ul>
	</div>

	{% endif %}

	{% if filters_theme == 'catDate' %}

	<div class="filtro-blog__categorie">
		<div id="select_categoria" class="select">
			<div class="select__title">
				{{ __('Categorie','holos')}}
				<img class="select__arrow" src="{{theme.link}}/Components/GridPostList/images/arrow-down.svg">
			</div>
			<div class="select__option">
				{% for term in terms %}
					{% if term.id is empty %}
						<a href="{{ term.link }}" class="item {% if term.isActive %}active{% endif %}" data-disable-link>{{ term.title }}</a>
					{% else %}
						<a href="?cat={{ term.id }}" class="item {% if term.isActive %}active{% endif %}" data-disable-link>{{ term.title }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="filtro-blog__archivio">
		<div id="select_categoria" class="select">
			<div class="select__title">
				{{ __('Archivio','holos')}}
				<img class="select__arrow" src="{{theme.link}}/Components/GridPostList/images/arrow-down.svg">
			</div>
			<div class="select__option">
				{% for archivioItem in archivio %}
					<a href="{{ archivioItem.value }}" class="item" data-disable-link>{{ archivioItem.name }}</a>
				{% endfor %}
			</div>
		</div>
	</div>

	{% endif %}
</div>
