<div
    {{ options.sectionId|length ? 'id=' ~ options.sectionId }}
    class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
    is="google-maps">

    {% if options.container %}
    <div class="container-lg"> 
    {% endif %}

        {% if options.row %}
        <div class="row"> 
        {% endif %}

            {% if options.colsClasses|length %}
            <div class="{{ options.colsClasses }}"> 
            {% endif %}

                <div class="google-maps{{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">
                    <div id="map" data-api="{{ api }}" data-zoom="{{ fn( 'wp_is_mobile' ) ? 10 : zoom }}">						
					</div>
					<div id="mapPins">
						{% for pin in pins %}
							<div class="pin" data-lat="{{ pin.maps.lat }}" data-lng="{{ pin.maps.lng }}" data-pin="{{ pin.pin_map.src }}">
								<div class="data-map" style="display: none;">
									<div class="title">
										{{ pin.title }}
									</div>
									<div class="content">
										{{ pin.content }}
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
                </div>

            {% if options.colsClasses|length %}
            </div><!-- cols classes --> 
            {% endif %}

        {% if options.row %}
        </div><!-- .row --> 
        {% endif %}

    {% if options.container %}
    </div><!-- .container --> 
    {% endif %}
</div>