<div
	{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
    class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
	is="description">

	{% if options.colsClasses|length %}
	<div class="{{ options.colsClasses }}"> 
	{% endif %}

		{% if options.row %}
		<div class="row"> 
		{% endif %}
		
			<div class="description {{ options.itemClasses|length ? ' ' ~ options.itemClasses }}">
				{{ descriptionHtml|trim|e('wp_kses_post') }}
			</div>

		{% if options.row %}
		</div><!-- cols classes --> 
		{% endif %}

	{% if options.colsClasses|length %}
	</div><!-- cols classes --> 
	{% endif %}
</div>