<div id="popup-{{ name }}" class="popup popup--{{ name }}" aria-labelledby="{{ name }}-toggle">
			
	<div class="popup__inner">

		<div class="container-lg">

			<div class="popup__body">

				{% if popupTitle is defined and popupTitle|length %}
					<div class="popup__title">{{ popupTitle }}</div>
				{% endif %}

				{% if name == 'search' %}
					{% include 'templates/searchform.twig' %}
				{% endif %}
			
			</div>

			<a href="#" class="popup-close" id="popup-{{ name }}-close"><i class="gg-close"></i></a>

		</div>

	</div>

</div>