<!-- search form -->
<form role="search" aria-expanded="false" method="get" id="search-form" class="search-form" action="{{ site.link }}">
    <label class="sr-only sr-only-focusable" for="search-form-input">{{ fn( 'esc_html_e', 'Search', 'abitha' ) }}</label>
	
	<input 
		id="search-form-input" 
		class="search-form__input" 
		type="search" 
		name="s"
		value="{{ searchQuery is defined and searchQuery|length ? searchQuery }}"
		placeholder="{{ searchLabels.searchPlaceholder is defined and searchLabels.searchPlaceholder|length ? searchLabels.searchPlaceholder }}" 
		required />

	<button 
			class="search-form__submit button" 
			type='submit'>
			{{ searchLabels.search is defined and searchLabels.search|length ? searchLabels.search : _e( 'Search', 'abitha' )|e('wp_kses_post') }}
	</button>
</form>