{% if queryTerms is defined and queryTerms is not null %}

	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="query-terms">

		{% if options.container %}
		<div class="container-lg"> 
		{% endif %}

			{% if options.row %}
			<div class="row"> 
			{% endif %}

				{% if options.colsClasses|length %}
				<div class="{{ options.colsClasses }}"> 
				{% endif %}

					{% if compSelect == 'ListItems' %}

						{{ renderComponent( compSelect, { queryTerms : queryTerms } ) }}

					{% else %}

						<div class="{{ compSelect|lower ~ 's' }} {{ options.itemClasses|length ? options.itemClasses }}">

							{% for queryTerm in queryTerms %}
							
								{{ renderComponent( compSelect, { queryTerm : queryTerm } ) }}

							{% endfor %}

							{% if subCompCard is defined and subCompCard is not null and hasCard == true %}

								{% set subCompCard = subCompCard|merge({section: false}) %}

								{{ renderComponent( 'Card', subCompCard ) }}

							{% endif %}

						</div>

					{% endif %}

				{% if options.colsClasses|length %}
				</div><!-- cols classes --> 
				{% endif %}

			{% if options.row %}
			</div><!-- .row --> 
			{% endif %}

		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}
	</div>

{% else %}

	<div
		{{ options.sectionId|length ? 'id=' ~ options.sectionId }}
		class="fcComponent{{ options.sectionClasses ? ' ' ~ options.sectionClasses }}{{ options.theme|length ? ' ' ~ options.theme }}"
		is="query-terms"
		data-results="false">

		{% if options.container %}
		<div class="container-lg"> 
		{% endif %}

			<div class="alert alert-primary text-center" role="alert">
				<span>{{ fn( 'esc_html_e', 'No categories found', 'uideveloper' ) }}</span>
			</div>

		{% if options.container %}
		</div><!-- .container --> 
		{% endif %}

	</div>

{% endif %}